@import "@/style/basics.scss";

a {
  text-decoration: none;
}

a:visited {
  color: $color_blue;
}

.el-button,
.el-button:focus,
.el-button.is-active,
.el-button.is-disabled:active,
.el-button:active {
  color: $color_blue;
  background: $color_white;
  border-color: $color_blue;
}

.el-button.is-disabled:hover,
.el-button:hover,
.el-button.is-disabled {
  background: $color_blue;
  border-color: $color_blue;
  color: $color_white;
}

.el-button--primary,
.el-button--primary:focus,
.el-button--primary.is-active,
.el-button--primary.is-disabled:active,
.el-button--primary:active {
  background: $color_blue;
  border-color: $color_blue;
  color: $color_white;
}

.el-button--primary.is-disabled:hover,
.el-button--primary:hover,
.el-button--primary.is-disabled {
  background: $color_white;
  border-color: $color_blue;
  color: $color_blue;
}

.el-input__inner:focus {
  border-color: $color_blue;
}

th {
  color: $color_grey !important;
}

h1 {
  font-size: $heading-font-sm;
  font-weight: 400;
  font-style: normal;
}

.img-inputer {
  position: relative;
  height: 115px;
  width: 115px;
  border: 2px solid $color_blue;
  background-color: $color_light_blue;
  margin-bottom: 10px;
  &::after {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 2;
    background-color: $color_blue;
    position: absolute;
    top: 86px;
    left: 92px;
    bottom: 0;
    right: 0;
  }
  &::before {
    content: "＋";
    position: absolute;
    font-size: 22px;
    height: 14px;
    width: 14px;
    z-index: 3;
    color: $color_white;
    font-weight: bolder;
    top: 88px;
    left: 98px;
    bottom: 0;
    right: 0;
  }
}

.img-inputer__placeholder {
  font-size: $text-font-lg !important;
  color: $color_blue !important;
}

.form-title {
  color: $color_light_grey;
  font-size: $text-font-md;
}

.el-input__inner {
  border: 1px solid $color_grey;
  &:hover {
    border: 1px solid $color_grey;
  }
}
.el-input-group__append,
.el-input-group__prepend {
  background-color: transparent;
  color: $color_blue;
  vertical-align: middle;
  border: 1px solid $color_grey;
  border-right: 0px;
}

.el-checkbox__inner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $color_grey;
  // display: none;
  &::after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 6px;
    position: absolute;
    top: 3px;
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform 0.15s ease-in 0.05s;
    transform-origin: center;
    font-weight: 800;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color_blue;
  border-color: $color_light_blue;
  // display: block;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $color_blue;
}
.el-checkbox.is-bordered.is-checked {
  border-color: $color_blue;
  background-color: $color_light_blue;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $color_blue;
}
.el-checkbox {
  color: $color_grey;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
  &.is-bordered {
    padding: 9px 10px 9px 10px;
    border-radius: 4px;
    border: 1px solid $color_grey;
    box-sizing: border-box;
    line-height: normal;
    height: 40px;
  }
}

.el-menu {
  border-right: solid 1px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: transparent;
}

.el-submenu__title {
  font-size: 18px;
  text-align: center;
  color: $color_blue;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  box-sizing: border-box;
}

.el-submenu__title:focus,
.el-submenu__title:hover {
  outline: 0;
  background-color: #ecf5ff;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 277px;
  line-height: normal;
  display: inline-table;
  border-collapse: separate;
  border-spacing: 0;

}
.el-date-editor{
  margin-right: 20px;
}
.el-checkbox{
  float: left;
}

// .el-input__prefix {
//   left: 20px;
//   transition: all .3s;
//   color: $color_blue;
// }

.prefix-left{
  left: 20px !important;
}