@import "@/style/basics.scss";

a {
  text-decoration: none;
}

a:visited {
  color: $color_blue;
}

.el-button,
.el-button:focus,
.el-button.is-active,
.el-button.is-disabled:active,
.el-button:active {
  color: $color_blue;
  background: $color_white;
  border-color: $color_blue;
}

.el-button.is-disabled:hover,
.el-button:hover,
.el-button.is-disabled {
  background: $color_blue;
  border-color: $color_blue;
  color: $color_white;
}

.el-button--primary,
.el-button--primary:focus,
.el-button--primary.is-active,
.el-button--primary.is-disabled:active,
.el-button--primary:active {
  background: $color_blue;
  border-color: $color_blue;
  color: $color_white;
}

.el-button--primary.is-disabled:hover,
.el-button--primary:hover,
.el-button--primary.is-disabled {
  background: $color_white;
  border-color: $color_blue;
  color: $color_blue;
}

.el-input__inner:focus {
  border-color: #1db0dc;
}

.el-input--suffix .el-input__inner {
  padding-right: 0px;
}

.el-col-5 {
  width: 17.83333%;
}

th {
  color: $color_grey !important;
}

i {
  font-size: $text-font-md;
  margin-right: 9px;
  cursor: pointer;
}

h1 {
  font-size: $heading-font-sm;
  font-weight: 400;
  font-style: normal;
}

.img-inputer {
  position: relative;
  height: 115px;
  width: 115px;
  border: 2px solid #40b2f8;
  background-color: #e9f8fc;
  &::after {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 2;
    background-color: #40b2f8;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "＋";
    font-size: 22px;
    position: absolute;
    z-index: 3;
    color: $color_white;
    font-weight: bolder;
    transform: translate(-50%, -50%);
  }
}
.img-inputer__placeholder {
  font-size: $text-font-lg !important;
  color: $color_blue !important;
}

.form-title{
  color: $color_light_grey;
  font-size: $text-font-md;
}



.el-input-group__append, .el-input-group__prepend {
    background-color: transparent;;
    color: #1DB0DC;
    vertical-align: middle;
}